body{
  background-color: coral;
}

.start-button{
  margin-top: 30vh;
}

.btn-start{
  color: white;
  background-color: greenyellow;
  border-radius: 5%;
  width: 250px;
  height: 50px;
  font-size: large;
  border: greenyellow;
  margin-bottom: 4%;
}

.btn-options{
  color: white;
  background-color: gold;
  border-radius: 5%;
  width: 250px;
  height: 50px;
  font-size: large;
  border: gold;
  margin-bottom: 4%;
}

.btn-leader{
  color: white;
  background-color: blue;
  border-radius: 5%;
  width: 250px;
  height: 50px;
  font-size: large;
  border:blue;
  margin-bottom: 4%;
}

.btn-settings{
  color: white;
  background-color: blueviolet;
  border-radius: 5%;
  width: 250px;
  height: 50px;
  font-size: large;
  border:blueviolet;
  margin-bottom: 4%;
}



.start-page{
  z-index: -10;
  position: fixed;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.center{
  width: 100px;
  margin-left:auto;
  margin-right: auto;
  display: block;
}

.card{
  border: 1px solid brown;
  background-color: whitesmoke;
  border-radius: 4%;
  box-shadow: dimgrey 333;
}

.game-table{
  border: 1px solid brown;
  background-color: green;
  margin: 5vh;
  border-radius: 4%;
  box-shadow: dimgrey 333;
}

 
.rotate{
    transform: rotate(90deg);
}

.card-cover{
    background-color: brown;
}



@keyframes rotates {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }