body{
  background-color: coral;
}

.btn-start{
  color: white;
  background-color: greenyellow;
  border-radius: 5%;
  width: 250px;
  height: 50px;
  font-size: large;
  border: greenyellow;
  margin-bottom: 1vh;
}

.btn-options{
  color: white;
  background-color: gold;
  border-radius: 5%;
  width: 250px;
  height: 50px;
  font-size: large;
  border: gold;
  margin-bottom: 1vh;
}

.btn-leader{
  color: white;
  background-color: blue;
  border-radius: 5%;
  width: 250px;
  height: 50px;
  font-size: large;
  border:blue;
  margin-bottom: 1vh;
}

.btn-settings{
  color: white;
  background-color: blueviolet;
  border-radius: 5%;
  width: 250px;
  height: 50px;
  font-size: large;
  border:blueviolet;
  margin-bottom: 1vh;
}


.btn-play{
  color: white;
  background-color: rgb(47, 255, 210);
  border-radius: 5%;
  width: 100px;
  height: 30px;
  font-size: large;
  border: rgb(47, 255, 210);
  margin-bottom: 1vh;
}

.leaderboard{
  width: 80%;
  max-width: 600px;
  min-width: 300px;
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-color: darkgray;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
}

.agents{
  color: white;
  background-color: gold;
  border-radius: 5%;
  font-size: large;
  border: gold;
  margin-top: 1vh;
}



.start-page{
  z-index: -10;
  position: fixed;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.center{
  width: 100px;
  margin-left:auto;
  margin-right: auto;
  display: block;
}

.card{
  border: 1px solid brown;
  background-color: whitesmoke;
  border-radius: 4%;
  box-shadow: dimgrey 333;
}

.game-table{
  border: 1px solid brown;
  background-color: green;
  margin: 5vh;
  border-radius: 4%;
  box-shadow: dimgrey 333;
}

 
.rotate{
    transform: rotate(90deg);
}

.card-cover{
    background-color: brown;
}

.need-bar{
  background-color: darkmagenta;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 10;
  margin: auto;
  display: block;
}

.need{
  background-color: darkmagenta;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 10;
  margin: auto;
  display: block;
}


@keyframes rotates {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
